.featured_project
{
    width: 100%;
    display: inline-block;
    margin: 40px 0 20px 0;
}
.featured_project_main_content
{
    display: inline-block;
    background-color: orange;
}
.featured_project_image_gallery
{
    width: 50%;
    float: left;
}
.featured_project_image_gallery_img
{
    width: 100%;
    margin: 0 auto;
    display: block;
    background-color: white;
}
.featured_project_image_gallery_icon_wrapper
{
	display: table;
	margin: 0 auto 0 auto;
}
.image_gallery_icon
{
	width: 15px;
	height: 15px;
	float: left;
    display: table-cell;
	margin: 10px 10px;
	border-radius: 50%;
	border: 5px solid #0c0c0c;
}
.image_gallery_icon:hover
{
	border-color: #00bbbb;
	cursor: pointer;
}
#image_gallery_icon_selected
{
	background-color: #0c0c0c;
}
.featured_project_description
{
    width: 50%;
    float: left;
    display: table;
}
.featured_project_description a
{
    color: black;
}
.featured_project_description a:hover
{
    color: #00aabb;
}
.pasta
{
    display: table-cell;
    vertical-align: middle;
}
.featured_project_title
{
    margin: 0;
    padding-left: 2%;
    font-size: 17pt;
    font-weight: 600;
}
.featured_project_dates
{
    margin: 0;
    padding-left: 2%;
    font-size: 12.5pt;
    color: rgb(50, 50, 50)
}
.featured_project_description_text
{
    margin: 0;
    padding: 2% 2% 0 2%;
    font-size: 14.5pt;
    line-height: 130%;
}
.featured_project_description_button
{
    font-size: 12pt;
    margin: 2% auto;
    padding: 6.5pt 15pt;
    border: 2px solid yellow;
    border-radius: 50px;
    display: table;
}
.featured_project_description_button:hover
{
    border: 2px solid yellow;
    background-color: yellow;
}
.featured_project_divider
{
    width: 57%;
    margin: 0;
}