body
{
    width: 100%;
    margin: 0;
    padding: 0;
}
body, textarea
{
    font-family: sans-serif;
}



#header
{
    width: 100%;
    position: fixed;
    z-index: 4;
    background-color: #54B1FE;
}
#header a
{
    color: black;
    text-decoration: none;
}
#ui_buttons_wrapper
{
    padding: 14px 10.75px;
}
.ui_button
{
    display: inline;
    margin: 0 7.5pt 0 0;
    padding: 2.5pt 7pt;
    border: 1px solid #311AEE;
    border-radius: 50px;
    font-size: 13.25pt;
}
#current_page, .ui_button:hover
{
    background-color: #311AEE;
}
#current_page, #header a:hover
{
    color: #BBB3FF;
}


#content
{
    width: 100%;
    position: absolute;
    margin-top: 47.55px;
}

.section_title
{
    padding: 110px 0 30px 0;
    text-align: center;
    background-color: #7CC3FE;
}
.section_title h3, .section_title p
{
    margin: 0;
    line-height: 145%;
}
.section_title h3
{
    font-size: 20pt;
    font-weight: 600;
}
.section_title p
{
    font-size: 13.25pt;
}
.section_title hr, #my_div hr
{
    width: 45%;
    height: 3px;
    margin: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0.65);
}
.section
{
    /*width: 95%;
    /*margin: 0 7.5%;*/
    padding: 35px 2.5%;
}
.section, input, textarea, #my_div_content
{
    margin: 8.5pt 0;
    font-size: 15.5pt;
    line-height: 145%;
}